.container {
  position: relative;
  height: 100vh;


  &__main {
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    z-index: 2;
    text-align: left;
    align-items: flex-start;
    padding: 2rem;
    padding-right: 4rem;

    @media (min-width: 640px) {
      text-align: left;
      padding-top: 7rem;
      padding-inline: 5rem;
      font-size: 1.6rem;
    }

    @media (min-width: 850px) {
      font-size: 18px;
      font-size: 2rem;
    }
  }
}