@import "tailwindcss";

:root {
  --background: rgb(19, 19, 86);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

body {
  font-family: var(--font-montserrat), sans-serif;
}
